body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.folderList {
  display: table;
}

.tablerow {
  display: table-row;
}

.tablecell {
  display: table-cell;
}
