extends layout

block content
  .wrapper
    .container
      h1 Success!
      p The Data Plug has been set up to synchronise photos in selected Dropbox folders to your personal HAT. Check back in 5 minutes to see the new data records appear.