extends layout

block content
  .wrapper
    .container
      h1 HAT Data Plug for Dropbox Photos
      p.plug-info A supplementary HAT tool to allow synchronisation of Dropbox photos with your personal HAT. Give it a try and see your photos appear in your HAT.
      p.plug-info
        span There is just few simple steps to get us going:
        ol
          li Authorise the plug to access your Dropbox files
          li Select the folders for synchronization
          li See your photos appear in the HAT

      div.plug-button-wrapper
        a.plug-button(href="/dataplug") Start Here
      div.plug-button-wrapper
        a.plug-button(href="http://www.hatdex.org") Learn more about your data