extends layout

block content
  h1= title
  p= stepInformation

  a(href="https://www.dropbox.com/1/oauth2/authorize?client_id=" + dropboxAppKey + "&redirect_uri=" + redirectUri + '&response_type=code') Sync with Dropbox
  br
  hr