extends layout

block content
  h1= title
  p= stepInformation
  p Folder synchronisation list:
  ul.folderList#folderList
    - each item in folderList
      li.tablerow
        input.tablecell(type="checkbox", name="recursive", value=item.path_lower)
        span.tablecell= item.path_lower

  input(type="text", name="folderName")
  button#addFolder Add Folder