extends layout

block content
  .wrapper
    .container
      h1 Dropbox Photo synchronisation options
      p.plug-info Please select folders to be synchronised
      p.plug-info Available folders:
      #tree.treeview
      div.actions
        button.plug-button#submit-folder-list(type="submit") Add Selected Folders

  script.
    var foldersToSync = [];

    $('#tree').treeview({
      backColor: 'transparent',
      onhoverColor: 'rgba(255, 255, 255, 0.2)',
      levels: 1,
      showIcon: false,
      showBorder: false,
      showCheckbox: true,
      showTags: true,
      data: !{JSON.stringify(folderTree)},

      onNodeChecked: function(event, node) {
        var nodeId = node.nodeId;
        var path = '/' + node.text;
        while (node.parentId !== undefined) {
          node = $('#tree').treeview('getParent', node);
          path = '/' + node.text + path;
        }
        foldersToSync[nodeId] = path;
        console.log(foldersToSync);
      },

      onNodeUnchecked: function(event, node) {
        foldersToSync[node.nodeId] = null;
        console.log(foldersToSync);
      }
    });

    $('#submit-folder-list').on('click', function() {
      var validPaths = foldersToSync.filter((path) => {
        return typeof path === 'string';
      });

      $.post('/dataplug/options', { folders: validPaths }, function(res) {
        console.log(res);
        if (res.status === 200 && res.message === 'ok') {
          $(location).attr('href', '/dataplug/confirm');
        }
      }, 'json');

    });